@import 'variables';
@import 'mixins';
@import 'extendsStart';
@import 'extendsEnd';

.fixing_section{

	.table-container {
		margin-top: 100px;
		margin-bottom: 40px;
		padding: 0;
	}
	
	.table {
		width: 100%;
		border-collapse: collapse;
	}
	.gram_th{
		width: 160px;
	}
	.usd_th{
		width: 320px;
	}
	tbody td{
		font-size: 14px;
	}
	.table th,
	.table td {
		padding: 5px;
		border: 1px solid #ccc;
		text-align: center;
	}
	
	.table th {
		background-color: #d9c196;
		color: black;
	}
	
	.change {
		color: green; /* For positive change */
	}
	
	.grams-input {
		width: 100px;
		padding: 5px;
		text-align: center;
		background: transparent;
		border: 1px solid rgb(204 204 204);
		outline: none;
	}
	
	.fix-button {
		background-color: #d9c196;
		border: none;
		padding: 5px 20px;
		cursor: pointer;
	}
	
	.fix-button:hover {
		background-color: #bfa773;
	}
	
}

// Modern DatePicker styling
.datepicker-input {
  border: 1px solid #ccc;
  border-radius: 0px;
  padding: 10px;
  font-size: 16px;
	width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
	outline: none;
  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
}

// React Select container adjustments
.react-select__control {
  border-radius: 8px !important;
}
.react-select__menu {
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
